
$primary: #e1ba78;
$black: #373730;
$headings-font-family: 'Eagle Lake';

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

html {
  scroll-padding-top: 71px;
}

.navbar {
  transition: all .5s;
}

.header {
  background: no-repeat url("/img/cover.jpg") center center;
  background-size: cover;

  &__title {
    filter: drop-shadow(0 0 0.8rem #373730);
    width: 600px;
  }
}

.section-small {
  max-width: 800px;
}

.section-medium {
  max-width: 1000px;
}

.tarot-card {
  width: 200px;
}

.story-row {
  min-height: 260px;
}

.timeline-container {
  position: relative;

  .timeline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  > :not(.timeline) {
    position: relative;
    z-index: 1;
  }
}
#timeline_line {
  transition: all .2s;
}

.video-container {
  position: relative;
  background-color: black;
  overflow: hidden;
  height: 400px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center 10%;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.video-title {
  position: relative;
  z-index: 2;
}

.maps-container {
  position: relative;
  height: 400px;
}

#map-info {
  position: absolute;
  top: 30px;
  left: 5%;
  z-index: 2;
}

.form-floating {
  > label { // Fixed in Bootstrap 5.3.4
    max-width: 100%;
  }
}

@include media-breakpoint-only(xs) {
  #map-info {
    top: 10px;
    left: 10px;
    transform: scale(.8);
    transform-origin: 0 0;
  }
}
@include media-breakpoint-only(sm) {
  #map-info {
    top: 20px;
    left: 20px;
    transform: scale(.9);
    transform-origin: 0 0;
  }
}

.footer {
  .heart {
    display: inline-block;
    color: #ff415c;
    vertical-align: middle;
    font-size: 1.4rem;
  }
}

.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse2 {
  0% {
    transform:scale(1.1)
  }
  50% {
    transform:scale(0.8)
  }
  100% {
    transform:scale(1)
  }
}
